<h2>
    This is {{name}}
  {{#bs-button action='toggleCollapse'}}
    {{#if collapsed}}
        Display Code
    {{else}}
        Hide Code
    {{/if}}
  {{/bs-button}}
</h2>

{{#bs-collapse collapsed=collapsed}}
    <div class="well">
      {{#bs-tab}}
        {{#bs-tab-pane title="component.js"}}
          {{code-snippet name=componentCodeName}}
        {{/bs-tab-pane}}
        {{#bs-tab-pane title="template.hbs"}}
          {{code-snippet name=templateCodeName}}
        {{/bs-tab-pane}}
      {{/bs-tab}}
    </div>
{{/bs-collapse}}

{{yield}}