<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 id="title">Ember-Contextual-Table Demos</h1>

            <hr>
            {{#generic-demo-page name='Simple Table' componentCodeName='simple-table.js' templateCodeName='simple-table.hbs'}}
              {{simple-table data=model}}
            {{/generic-demo-page}}
            <br><hr>

            {{#generic-demo-page name='Editable Table' componentCodeName='editable-table.js' templateCodeName='editable-table.hbs'}}
              {{editable-table data=model}}
            {{/generic-demo-page}}
            <br><hr>

            {{#generic-demo-page name='Paginated Table' componentCodeName='paginated-table.js' templateCodeName='paginated-table.hbs'}}
              {{paginated-table data=model}}
            {{/generic-demo-page}}
            <br><hr>

            {{#generic-demo-page name='Filtered Table' componentCodeName='filtered-table.js' templateCodeName='filtered-table.hbs'}}
              {{filtered-table data=model}}
            {{/generic-demo-page}}
            <br><hr>

            {{#generic-demo-page name='Custom Table' componentCodeName='custom-table.js' templateCodeName='custom-table.hbs'}}
              {{custom-table data=model}}
            {{/generic-demo-page}}
            <br>
        </div>
    </div>
</div>
